<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Employee Directory</title>
</head>
<body>

    <h2> Company Home Page - NO SOUP!!!</h2>
    <hr>
    Welcome to the DUCNHUAD company home page!
    <hr>
    <br><br>
    <p>User : <span sec:authentication="principal.username">

    </span>
        <br><br>
        Roles : <span sec:authentication="principal.authorities"></span>
    </p>
    <hr>

    <!-- add link /leaders-->
    <p>
        <a th:href="@{/leaders}">Leader Meeting</a>
        Only manager peeps
    </p>
    <hr>
    <p>
        <a th:href="@{/systems}">System Meeting</a>
        Only admin peeps
    </p>
    <hr>
    <form action="#" th:action="@{logout}" method="post">
        <input type="submit" value="Logout">
    </form>

</body>
</html>