<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Thymeleaf Student Demo</title>

    <!-- reference css -->
    <link rel="stylesheet" th:href="@{/css/demo.css}" />

</head>

<body>
    <h3> Student Resgistration form </h3>

    <form th:action="@{/processStudentForm}" th:object="${student}" method="post">

        First name : <input type="text" th:field="*{firstName}" />

        <br><br>

        Last name : <input type="text" th:field="*{lastName}" />

        <br><br>

        <input type="submit" value="submit" />
    </form>
    
</body>

</html>